.temperature {
  font-size: 2.5rem !important;
  text-align: left;
  &__celsius {
    color: white !important;
  }
  &__farenheit {
    color: white !important;
  }
  &__units {
    position: relative;
    left: 2px;
    bottom: 15px;
  }
}
